[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"

[packages]
"discord.py" = "*"
sqlalchemy = "*"
python-dotenv = "*"
pymysql = "*"
python-dateutil = "*"

[requires]
python_version = "3.6"
